<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>This is Home Page</title>
</head>
<body>
{{> header}}
<br><br>
<p>Some text here is also needed</p>
<p>{{screamIt pageTittle}}</p>
{{> footer}}
</body>
</html>

<!--{{footer}} tak wstawia sie template ktory jest wykorzystywanay przez wiele stron-->
<!--{{screamIt pageTittle}} screamIt to template przyjmuje on jako argument text 'welcomeMessage' uwaga bo komentarze tez sa 'kompilowane' podczas ladowania strony!!!!!!!!!-->