<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>text</title>
</head>
<body>
<h1>This is the tittle {{pageTittle}}</h1>
<p>This is content of this page {{pageContent}}</p>
<footer>
    <p>Copyright {{getCurrentYear}}</p>
</footer>
</body>
</html>